.two-columns__paragraph1 {
margin-bottom: 30px;
line-height: 34px;
font-size: 24px;
font-weight: normal;
}

.two-columns__paragraph2 {
margin-bottom: 30px;
line-height: 34px;
font-size: 24px;
}

.two-columns__paragraph3 {
line-height: 34px;
font-size: 24px;
font-weight: normal;
}
